/* styles.css */
/* starter code for radio buttons from <> */
/* starter code for popup from https://www.w3schools.com/howto/tryit.asp?filename=tryhow_js_popup */

html, body {
  margin: 0px;
  padding: 0px;
  height: 100%;
}

html, body, footer {
  font-family: 'Lato', sans-serif;
}

header {
  background-color: white;
  color: black;
  height: 100px;
  display: block;
}

footer {
  background-color: white;
  color: black;
  height: 100px;
  text-align: center;
  padding: 20px;
}

div {
  font-size: 15px;
}

a {
  position: relative;
  display: inline-block;
  width: max-content;
  height: max-content;
  text-align: center;
  text-decoration: none;
  font-size: 15px;
  color: #666;
}

a:hover {
  color: #ddd;
}

a.active {
  color: #00994d;
}

a.navlink {
  padding-left: 30px;
  display: inline-block;
  color: #666;
  text-align: center;
  text-decoration: none;
}

a.navlink:hover:not(.active) {
  color: #ddd;
}

a.navlink.active {
  color: #00994d;
}

select {
  text-align: center;
  width: 75px;
  height: 30px;
  border: 2px solid #ddd;
  border-radius: 10px;
  margin-top: 5px;
}

button {
  border: 2px solid #00994d;
  border-radius: 10px;
  background-color: #00994d;
  color: white;
  width: max-content;
  height: max-content;
  padding: 10px 50px;
  cursor: pointer;
}

button:hover {
  background-color: white;
  color: #00994d;
}

.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.grid-container {
  display: grid;
}

.topnav {
  font-size: 0px;
  justify-content: end;
  padding: 15px;
}

.product-grid {
  position: relative;
  grid-template-rows: 80% 20%;
  height: 300px;
  width: 250px;
  margin: 10px;
  padding: 10px 10px 10px;
}

.product-grid:hover {
  box-shadow: 10px 10px 10px lightgray;
}

.product-img-container {
  justify-self: center;
  align-self: center;
}

.product-img {
  object-fit: cover;
  position: relative;
  display: block;
  width: 230px;
  height: 230px;
}

.product-info-grid {
  position: relative;
}

.product-title {
  color: black;
}

.product-title:hover {
  color: #ddd;
}

.product-price {
}

.product-colors-grid {
  display: inline-block;
  grid-template-columns: auto auto auto auto;
  grid-gap: 2px;
}

.product-color-label {
  color: gray;
  font-style: oblique;
  font-size: 12px;
}

.product-color.strawberry {
  background-color: red;
}

.product-color.blackberry {
  background-color: purple;
}

.product-color.crazyberry {
  background-color: magenta;
}

.product-color.fire-orange {
  background-color: orange;
}

.products-grid {
  grid-template-rows: 50px auto;
  padding: 0px 50px;
}

.products-flex {
  position: relative;
  top: 0px;
  justify-content: start;
}

.categories {
  margin-top: 30px;
  margin-left: 50px;
  margin-bottom: 30px;
  font-size: 15px;
}

.categories a {
  font-size: 15px;
}

.product-detail-page-grid {
  margin: 0px 50px;
  grid-template-rows: 454px 500px;
  grid-template-columns: 500px 30%;
  grid-gap: 20px;
}

.product-detail-info-grid {
  grid-template-rows: 30% auto auto auto 10%;
  grid-gap: 5px;
}

.selection-grid {
  grid-template-rows: 25% 70% 5%;
}

.selection-option-flex label {
  margin-right: 5px;
}


/* Starter code for custom radio button obtained from https://www.w3schools.com/howto/howto_css_custom_checkbox.asp */
/* The container */
.container {
  display: inline-block;
  position: relative;
  width: 50px;
  height: 50px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  font-size: 0px;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 50px;
  width: 50px;
  background-color: #eee;
}

/* On mouse-over, darken element */
.container:hover input ~ .checkmark {
  /*background-color: #ccc;*/
  filter: brightness(0.5);
}

.container input:checked ~ .checkmark {
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.container input:checked ~ .checkmark:after {
  display: inline-block;
}

/* Style the indicator (dot/circle) */
.container .checkmark:after {
  top: 0px;
  left: 0px;
  width: 42px;
  height: 42px;
  border: 4px solid black;
}


/* The container */
.container.small-color {
  display: inline-block;
  position: relative;
  width: 10px;
  height: 10px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Create a custom radio button */
.checkmark.small-color {
  position: absolute;
  top: 0;
  left: 0;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background-color: #eee;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark.small-color:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.container.small-color input:checked ~ .checkmark:after {
  display: inline-block;
}

/* Style the indicator (dot/circle) */
.container .checkmark.small-color:after {
  top: 0px;
  left: 0px;
  width: 6px;
  height: 6px;
  border: 2px solid black;
  border-radius: 50%;
}


.product-detail-img-grid {
  grid-template-rows: 400px auto;
}

.product-detail-img {
  width: 400px;
  height: 400px;
  object-fit: cover;
}

.product-detail-other-img-flex {
  margin-top: 5px;
  display: inline-block;
  position: relative;
  top: 0px;
  left: 0px;
}

.product-detail-other-img {
  width: 50px;
  height: 50px;
  object-fit: cover;
}


.product-detail-description-grid {
  grid-template-rows: 50px auto;
}

.slideshow-img {
  width: 100%;
  height: 500px;
  object-fit: cover;
}

.link-button {
  background-color: #00994d;
  color: white;
  border: 2px solid #00994d;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 5px 5px 10px gray;
}

.link-button:hover {
  background-color: white;
  color: #00994d;
}

.top-left {
  position: absolute;
  top: 10px;
  left: 10px;
}

.top-right {
  position: absolute;
  top: 10px;
  right: 10px;
}

.bottom-left {
  position: absolute;
  bottom: 10px;
  left: 10px;
}

.bottom-right {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.centered {
  position: relative;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}

.detail-label {
  
}

.selected-label {
  color: gray;
}


.close {
  font-size: 25px;
  color: black;
}

.close:hover {
  color: gray;
  cursor: pointer
}

.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: white;
  color: black;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  box-shadow: -100px 0px 200px lightgray;
}

.sidebar-content {
  padding: 10px;
}

.sidebar-item-image {
  width: 90px;
  height: 90px;
  border: 2px solid black;
}

@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}

.sidebar-item-grid {
  border: 2px solid black;
  border-radius: 15px;
  height: 100px;
  width: 100%;
}

.cart-item-image {
  width: 100px;
  height: 100px;
  object-fit: cover;
}

.cart-items-flex {
  flex-direction: column;
}

.cart-item-grid {
  grid-template-columns: 10% 25% 25% 25% auto;
  border-bottom: 2px solid black;
  padding-bottom: 20px;
  padding-top: 10px;
}

.cart-item-details {

}

.cart-item-name {
  font-size: 20px;
  font-weight: bold;
}

.cart-item-close {

}

.cart-item-price {

}

.cart-item-quantity {

}

.cart-item-size-grid {

}

.cart-item-color-grid {

}


.cart-total-container-labels, .cart-total-container-values {
  font-size: 20px;
}

.cart-total-container-values div {
  text-align: end;
}

.cart-total {
  font-size: 30px;
  font-weight: bold;
}

.cart-total-flex {
  padding-top: 50px;
  flex-direction: row;
  justify-content: end;
}

/* Starter code for custom radio button obtained from https://www.w3schools.com/howto/howto_css_custom_checkbox.asp */
/* The container */
.cart-selection-grid .container {
  display: inline-block;
  position: relative;
  width: 20px;
  height: 20px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */
.cart-selection-grid .container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  font-size: 0px;
}

/* Create a custom radio button */
.cart-selection-grid .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #eee;
}

/* On mouse-over, darken element */
.cart-selection-grid .container:hover input ~ .checkmark {
  /*background-color: #ccc;*/
  filter: brightness(0.5);
}

.cart-selection-grid .container input:checked ~ .checkmark {
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.cart-selection-grid .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.cart-selection-grid .container input:checked ~ .checkmark:after {
  display: inline-block;
}

/* Style the indicator (dot/circle) */
.cart-selection-grid .container .checkmark:after {
  top: 0px;
  left: 0px;
  width: 16px;
  height: 16px;
  border: 2px solid black;
}

.cart-selection-grid select {
  text-align: center;
  width: 75px;
  height: 30px;
  border: 2px solid #ddd;
  border-radius: 10px;
  margin-top: 5px;
}

#slideshow-grid {
  width: 100%;
  height: 500px;
}

#slideshow-container {
  position: relative;
  overflow: hidden;
  height: inherit;
  width: inherit;
}

#slideshow-img-container {
  display: inline-block;
  background-color: white;
  overflow: hidden;
  position: relative;
  height: 500px;
  width: inherit;
}

#bestsellers-grid {
  padding-top: 30px;
  grid-template-rows: 50px auto;
}

#bestsellers-products-flex {
  position: relative;
  top: 0px;
  justify-content: start;
}

#banner-grid {
  grid-template-columns: 50% 50%;
}

#banner-logo-grid {
  grid-template-columns: 75px auto;
  padding: 15px;
}

#welcome-msg-container {
  color: white;
  display: inline-block;
  position: absolute;
  top: 50px;
  right: 50px;

}

#welcome-msg {
  text-shadow: 2px 2px 10px black;
  font-size: 50px;
}

#brand-name-grid {
  text-align: left;
  grid-template-rows: auto auto;
}

#brand-name {
  font-size: 25px;
  display: inline-block;
}

#brand-slogan {
  font-size: 15px;
  padding-top: 5px;
  display: inline-block;
}

#homenav {
  color: black;
}

#homenav:hover {
  color: black;
}

#cart-icon:hover {
  filter: invert(97%) sepia(6%) saturate(3%) hue-rotate(314deg) brightness(92%) contrast(91%);
  display: inline-block;
  position: relative;
}

.active #cart-icon {
  filter: invert(33%) sepia(64%) saturate(1491%) hue-rotate(122deg) brightness(100%) contrast(102%);
}


#cart-notification {
  background-color: #00994d;
  color: white;
  width: 10px;
  height: 10px;
  font-size: 7px;
  text-align: center;
  display: inline-block;
  border: 2px solid #00994d;
  border-radius: 50%;
  position: relative;
  left: -5px;
  top: 0px;
}

#cart-notification:hover {
  color: white;
  background-color: #00994d;
}

#product-detail-title {

}

#product-detail-price {

}


#start-checkout-button {
  font-size: 15px;
  background-color: #00994d;
  color: white;
  border: 2px solid #00994d;
  border-radius: 10px;
  position: relative;
  right: 0px;
  padding: 10px;
}

#start-checkout-button:hover {
  background-color: white;
  color: #00994d;
}

#proceed-checkout-button {
  font-size: 15px;
  background-color: #00994d;
  color: white;
  border: 2px solid #00994d;
  border-radius: 10px;
  position: relative;
  float: right;
  padding: 10px;
  margin-top: 20px;
}

#proceed-checkout-button:hover {
  background-color: white;
  color: #00994d;
}

#place-order-button {
  font-size: 15px;
  background-color: #00994d;
  color: white;
  border: 2px solid #00994d;
  border-radius: 10px;
  position: relative;
  right: 0px;
  padding: 10px;
}

#proceed-order-button:hover {
  background-color: white;
  color: #00994d;
}

#close {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 25px;
  color: black;
}

#close:hover {
  cursor: pointer;
  color: gray;
}

#cart-container {
  padding: 50px;
}